body {
  background-color: #303071;
}

.divCirc {
  position: absolute;
  top: 2rem;
  left: 41rem;
}


.estrella1 {
  position: absolute;
  top: 15rem;
  left: 67rem;
}

.estrella2 {
  position: absolute;
  top: 20rem;
  left: 53rem;
}

.estrella3 {
  position: absolute;
  top: 10rem;
  left: 8rem;
}

.estrella4 {
  position: absolute;
  top: 18rem;
  left: 22rem;
}

.estrella5 {
  position: absolute;
  top: 11rem;
  left: 55rem;
}

.estrella6 {
  position: absolute;
  top: 22rem;
  left: 39rem;
}
